#collection{
    width:100%;
    height:144%;
    background-color:white;
}

#collection_innerbox {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#collection_women_img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: 600px;
}

#collection_men_img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: 600px;
}

#collection_women_desc_container {
    position: absolute;
    top: 120px;
    right: 60px;
}

#collection_men_desc_container {
    position: absolute;
    bottom: 120px;
    left: 60px;
}

#collection h2 {
    margin: 0px;
    font-family:"NotoSansKR-Regular" ;
    font-size: 72px;
    letter-spacing: 2px;
}

#collection h3 {
    margin: 0px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "NotoSansKR-Light";
}

#collection_men_desc_container h3 {
    text-align: right;
}

#collection button {
    display: block;
    margin:  0 auto;
    width: 160px;
    height: 80px;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
}

/* #Collection_first_button{
    background-color: black;
    color:rgb(255,255,255);
    width:150px;
    height:50px;
    position:absolute;
    top:160px;
    right:120px;
}

#for_men{
    position:absolute;
    width:80%;
    height:50%;
    background-color:white;
    left:50%;
    right:50%;
    transform:translateX(-50%);

}

#for_men_desc{
    position:absolute;
    bottom:88px;
}

#for_men_desc>h3{
    color:slategrey;
}

#Collection_second_button{
    background-color: black;
    color:rgb(255,255,255);
    width:150px;
    height:50px;
    position:absolute;
    top:160px;
    left:120px;
} */
