#gallery{
    position : relative;
    width : 100%;
    height : 900px;
    display: flex;
    flex-direction : column;
}


#gallery_img_container_wrapper{
    margin : auto;
    margin-top: 120px;
    width : 80%;
    flex : 1;
    display: flex;
    flex-direction: row;
}

#gallery_etc_container{
    width : 200px;
    height : 100%;
    display : flex;
    flex-direction: column;
}

#gallery_list{
    width : 100%;
    flex: 1;
    background-color : black;
    list-style : none;
    margin: 0px;
    margin-bottom: 24px;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
}

#gallery_list li{
    flex: 1;
    text-align: center;
    vertical-align : center;
    color:silver;
    position:relative;
    border-bottom: 2px solid white;
}

#gallery_list li:last-child {
    border-bottom: none;
}

#gallery_list h4{
    position:absolute;
    left: 24px;
    top: 50%; 
    transform:translateY(-50%);
    margin:0px;
}

#gallery_list img {
    position:absolute; 
    top:50%; 
    transform:translateY(-50%);
    right:0px; 
    width:16px;
    height:16px;
    filter: opacity(0.4) drop-shadow(0 0 0 white); 
}

#gallery_ad_wrapper{
    flex : 1;
    width : 100%;
    background-color: blueviolet;
}

#gallery_img_container {
    flex: 1;
    height: 100%;
    background-color: yellow;
}

#gallery_img_container tbody {
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#gallery_img_container tr {
    flex: 1;
    display: flex;
    flex-direction: row;
}

#gallery_img_container td {
    flex: 1;
    margin-left: 24px;
    margin-bottom: 24px;
}

/* #gallery_img_container img {
    float : left;
    margin-left: 24px;
    margin-bottom: 24px;
    width : 320px;
    height: 320px;
} */

/* #img_container{
    width:100%;
    margin:0px;
    
}

#gallery_img_container_button{
    background-color: black;
    color:rgb(255,255,255);
    width:150px;
    height:50px;
    margin-top:4%;
    right:1000px;
} */


