#main{
    position: relative;
    width:100%;
    height:100%;
    background-color: #F4F3F3;
}

#main_title_container{
    position: absolute;
    top:60%;
    left:40px;
}

#main_title_container>h1{
    font-family:"NotoSans-Regular" ;
}



#main_title_button{
    background-color: black;
    color:rgb(255,255,255);
    width:150px;
    height:50px;
}

#main_background_text{
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%, -50%);
    font-size:200px;
    color:rgb(220,220,220);
    line-height : 400px;
    font-family : "jua";
    text-align : center;
    vertical-align : center;
}

#main_desc_container{
    position:absolute;
    top:60%;
    right:64px;
}









