#sale_information{
    width:100%;
    height:100%;
    background-color:white;
    margin:0 auto;
    position:relative;
}

#container{
    width:800px;
    height:480px;
    background-color: chartreuse;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:0 auto;
    top: 50%; 
    transform:translateY(-50%);
    }

#sale_desc_container{
    width:400px;
    height:480px;
    background-color:honeydew;
    position:absolute;
}

#First_desc{
    position:absolute;
    right:24px;
    bottom:56;
}

#First_desc_h3{
    color:hotpink;
}

#First_desc_button{
    background-color: black;
    color:rgb(255,255,255);
    width:150px;
    height:50px;
}

#another_sale_desc_container{
    width:400px;
    height:480px;
    background-color:lightgrey;
    position:absolute;
    right:0
}

#Second_desc{
    position:absolute;
    top:32px;
    left:32px;
}

#Second_desc_h3{
    color:hotpink;
}

#Second_desc_button{
    background-color: black;
    color:rgb(255,255,255);
    width:150px;
    height:50px;
}